<header>
  <div class="navbar navbar-dark bg-success shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <img src="assets/img/logo1.png" class="logo" >&nbsp;&nbsp;
      <strong class="text" style="font-size: 30px;">Easy-Shop</strong>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="search products">
      </div>
      <span class="fas fa-search search-icon"></span>

    <button routerLink="cart" class="btn btn-success">
      <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
  </div>
</div>
</header>
