 .card-top{
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background: white;
   background-clip: border-box;
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: .25rem;
 }
.item img{
width: 60px;
}
.item{
  margin: 0px 15px;
  text-align: center;
}
.item a:hover{
  color:rgb(7, 109, 70); ;
}
.card{
  padding: 20px;
  margin: 50px;
}
.card img{
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  transition: 0.3s ease-in-out;
}
.card img:hover{
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.dropdown{
  display: none;
  position:absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,2);
  z-index: 5;
  border-radius: 12%;
}
